.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ffffff;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #ffffff;
}

.examples {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #ffffff;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
