.examples {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #ffffff;
}

.title {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #ffffff;
}

.button {
  margin-top: 5%;
}

.verb {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #ffffff;
  text-align: center;
}

.centerButton {
  display: flex;
  justify-content: center;
}
