/* Your CSS file or style block */
.customNavbar {
  background-color: #343541;
  /* Light grey color */
}

.title {
  color: #ffc107 !important;
  text-decoration: none;
  transition: color 0.3s ease;
}

.NavLinkLinks {
  color: #9e9e9e !important;
  text-decoration: none !important;
  transition: color 0.3s ease;
}

.NavLinkLinks:hover {
  color: #0a0000 !important; /* Change to the desired color when hovered */
}

.title:hover {
  color: #0a0000 !important; /* Change to the desired color when hovered */
}
